.navbar{
    text-align: center;
    margin: 0%;
    background-color: whitesmoke;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    text-emphasis: none;
    text-decoration-style: none;
}
body{
    background-color: black;
}
a:hover{
    text-decoration: underline;
        text-emphasis: unset;
    text-decoration-style: unset;
}
li{
    text-decoration: none;
    display:inline;
    padding-right: 5%; 
}
ul{
    text-decoration: none;
}